@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --activeStateBlue: hsl(244, 82%, 68%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Display";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/pattern-background-desktop.svg");
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  background-color: var(--paleBlue);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  width: 350px;
  background-color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 1.4rem;
  margin-top: 30px;
}

.summary {
  margin: 20px;
  /* padding: 20px; */
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
  color: var(--desaturatedBlue);
}

.card .hero-img {
  width: 100%;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--veryPaleBlue);
  width: 90%;
}

.annual {
  font-size: 1rem;
  font-weight: 900;
  color: #000;
}

.price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--desaturatedBlue);
}

.change {
  font-weight: 700;
  color: var(--brightBlue);
}

.change:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--activeStateBlue);
}

.btn {
  background-color: var(--brightBlue);
  color: #fff;
  width: 90%;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  font-weight: 900;
  font-size: 1.1rem;
  box-shadow: 0px 20px 15px rgba(228, 227, 250, 255);
}

.btn:hover {
  background-color: var(--activeStateBlue);
  cursor: pointer;
}

.cancel {
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--desaturatedBlue);
}

.cancel:hover {
  color: #000;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .bg {
    background-image: url("images/pattern-background-mobile.svg");
  }
}
